.center {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cen {
  text-align: center;
  display: block;
  flex-direction: column;
}

.wish {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.xxl {
  font-size: 4rem;
}

.input {
  width: 100%;
  font-size: 1.2rem;
}

.btn {
  margin-top: 1rem;
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid #555;
}

.btn:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
